.grid-container {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(8,1fr);
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.item4 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.item5 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.item6 {
    grid-row-start: 5;
    grid-row-end: 7;
}

.item7 {
    grid-row-start: 5;
    grid-row-end: 7;
}

.item8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.item11 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}


/* .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.item4 {
    grid-column:span 2;
} */

/*

.grid-container-backup {
    display: grid;
    gap: 0.5em;
    grid-template-areas: "header header"
                         "left main"
                         "menu1 main"
                         "menu2 main"
                         "footer footer"
    ;
    align-items: stretch;
} */

h1 {
    color: aliceblue;
}

.item {
    border: 2px solid rgb(255, 255, 255);
    padding: 0.5em;
    color: aliceblue;
}

/*
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: left;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: menu1;
}

.item5 {
    grid-area: menu2;
}

.item6 {
    grid-area: footer;
} */
